body{
    margin: 0%;
    padding: 0%;
}

.cabecalho{
    background-color: rgb(211, 14, 0);
    text-align: center;
}

.escudos img{
    height: 50px;
    margin-left: 1px;
}

.escudos td{
    padding-right: 70px;
    padding-left: 40px;
}

.escudos table{

    border-spacing: 2px;    
}